@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

/********************12 column layout implimentaion*************/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 12 *12);
  flex: 0 0 calc(100% / 12 *12); }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12 * 11);
  flex: 0 0 calc(100%/ 12 * 11); }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12 * 1);
  flex: 0 0 calc(100%/ 12 * 1); }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12* 10);
  flex: 0 0 calc(100%/ 12* 10); }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12 * 2);
  flex: 0 0 calc(100%/ 12 * 2); }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12* 9);
  flex: 0 0 calc(100%/ 12* 9); }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12 * 3);
  flex: 0 0 calc(100%/ 12 * 3); }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12* 8);
  flex: 0 0 calc(100%/ 12* 8); }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12 * 4);
  flex: 0 0 calc(100%/ 12 * 4); }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12* 7);
  flex: 0 0 calc(100%/ 12* 7); }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12 * 5);
  flex: 0 0 calc(100%/ 12 * 5); }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/ 12* 6);
  flex: 0 0 calc(100%/ 12* 6); }

html {
  /* Setting font-size to 62.5% allows 1rem to be 10px */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.2rem;
  color: white;
  line-height: 3rem;
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  background: #D64D63; }

.main-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f4f4f4;
  margin: 10rem auto;
  color: #444;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.7);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.7); }
  .main-wrapper__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #444;
    padding: 1rem 0 0 0; }
  .main-wrapper .nav-list {
    list-style: none; }
    .main-wrapper .nav-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1rem;
      position: relative; }
      .main-wrapper .nav-list__item:not(:last-child) {
        margin-bottom: 1rem; }
      .main-wrapper .nav-list__item a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 20; }
    .main-wrapper .nav-list__item::before {
      content: '';
      width: 1rem;
      height: 100%;
      background: #D64D63;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
      transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
      -o-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0); }
    .main-wrapper .nav-list__item:hover::before {
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      width: 100%; }
  .main-wrapper .copyright {
    font-size: 1rem;
    text-align: center; }
  .main-wrapper__desc {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 2rem 3rem; }
  .main-wrapper svg {
    width: 2rem;
    height: 2rem;
    fill: white;
    margin-right: 1rem; }
  .main-wrapper p {
    padding-bottom: 2rem; }
  .main-wrapper .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-wrapper .gallery__photo {
      width: 100%;
      display: block; }
  .main-wrapper .details {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: solid 0.03rem rgba(0, 0, 0, 0.3);
    background: white; }
    .main-wrapper .details__list-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      padding: 1rem; }
    .main-wrapper .details .details__list {
      margin: 3rem;
      padding: 3rem;
      border-top: solid 0.03rem rgba(0, 0, 0, 0.3);
      border-bottom: solid 0.03rem rgba(0, 0, 0, 0.3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .main-wrapper .details__item {
      list-style: none;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .main-wrapper .details__item::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      margin-right: .5rem;
      background-color: #D64D63;
      -webkit-mask-image: url("../img/SVG/redo2.svg");
      -webkit-mask-size: cover; }
  .main-wrapper .testimonial-block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 2rem 0 5rem; }
    .main-wrapper .testimonial-block__reviews {
      background: #F0BEC6;
      margin-bottom: 2rem;
      padding: 1rem;
      border-radius: .5rem; }
      .main-wrapper .testimonial-block__reviews .user-box {
        padding-top: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .main-wrapper .testimonial-block__reviews .user-box img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%; }
